
module my-winepreloader 1.0;

require {
	type unconfined_t;
	class memprotect mmap_zero;
}

#============= unconfined_t ==============

#!!!! This avc can be allowed using the boolean 'mmap_low_allowed'
allow unconfined_t self:memprotect mmap_zero;
